<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shelf Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.css}"/>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.0/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <form class="form-horizontal" th:object="${shelf}" th:action="@{/shelves}" th:method="post">
        <div class="form-group">
            <label class="control-label">Letter: </label>
            <input type="text" class="form-control" th:field="*{letter}"/>
            <p th:if="${#fields.hasErrors('letter')}" th:errors="*{letter}"/>

            <label class="control-label">Number: </label>
            <input type="text" class="form-control" th:field="*{number}"/>
            <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}"/>

            <label class="control-label">Room: </label>
            <select th:field="*{idRoom}">
                <option value="" th:selected> Choose Room </option>
                <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
            </select>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Save Shelf</button>
        </div>
    </form>
</div>
</body>
</html>